@font-face {
  font-family: Diplomata;
  src: url("../font/Diplomata/Diplomata-Regular.ttf");
}
@font-face {
  font-family: Satisfy;
  src: url("../font/Satisfy/Satisfy-Regular.ttf");
}
@font-face {
  font-family: Lobster;
  src: url("../font/Lobster/Lobster.ttf");
}
@font-face {
  font-family: Pacifico;
  src: url("../font/Pacifico/Pacifico.ttf");
}
/* line 5, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 34, ../../scss/style.scss */
body {
  background-color: lightblue;
}

/* line 38, ../../scss/style.scss */
* {
  -webkit-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 49, ../../scss/style.scss */
app {
  display: block;
  min-width: 320px;
  position: relative;
}

/* line 55, ../../scss/style.scss */
loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightblue;
  opacity: 1;
  z-index: 100;
  -moz-transition: opacity 150ms ease-out;
  -o-transition: opacity 150ms ease-out;
  -webkit-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
/* line 66, ../../scss/style.scss */
loader.hide {
  opacity: 0;
}

/* line 71, ../../scss/style.scss */
foreground {
  display: block;
  padding: 10px;
  max-width: 800px;
  margin: auto;
  position: relative;
  z-index: 10;
}

/* line 80, ../../scss/style.scss */
wrapper[malinandkris][savethedate] {
  width: 100%;
  display: block;
  position: relative;
}

/* line 86, ../../scss/style.scss */
malinandkris {
  width: 100%;
  display: block;
  font-family: 'Pacifico', cursive;
  -moz-animation: krisandmalin-wind 15s ease-in-out infinite;
  -webkit-animation: krisandmalin-wind 15s ease-in-out infinite;
  animation: krisandmalin-wind 15s ease-in-out infinite;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 97, ../../scss/style.scss */
malinandkris h1 {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100px;
  -moz-transform: rotate(3deg) translate(22%, 23px);
  -ms-transform: rotate(3deg) translate(22%, 23px);
  -webkit-transform: rotate(3deg) translate(22%, 23px);
  transform: rotate(3deg) translate(22%, 23px);
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  /* line 97, ../../scss/style.scss */
  malinandkris h1 {
    font-size: 31vw;
  }
}
@media screen and (min-width: 496px) {
  /* line 97, ../../scss/style.scss */
  malinandkris h1 {
    font-size: 154px;
  }
}
/* line 117, ../../scss/style.scss */
malinandkris h1 text {
  display: block;
}
/* line 120, ../../scss/style.scss */
malinandkris h1 text[malin] {
  font-size: 100%;
}
/* line 123, ../../scss/style.scss */
malinandkris h1 text[og] {
  font-size: 50%;
  line-height: 0em;
  text-align: center;
  opacity: 0.7;
}
/* line 129, ../../scss/style.scss */
malinandkris h1 text[kris] {
  font-size: 100%;
  margin-top: 0.04em;
}
/* line 135, ../../scss/style.scss */
malinandkris object {
  width: 100%;
  height: 100%;
  max-width: 486px;
}

/* line 142, ../../scss/style.scss */
savethedate {
  position: absolute;
  -moz-animation: savethedate-wind 10s ease-in-out infinite;
  -webkit-animation: savethedate-wind 10s ease-in-out infinite;
  animation: savethedate-wind 10s ease-in-out infinite;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 420px) {
  /* line 142, ../../scss/style.scss */
  savethedate {
    bottom: 90px;
  }
}
@media screen and (min-width: 496px) {
  /* line 142, ../../scss/style.scss */
  savethedate {
    right: auto;
    left: 320px;
  }
}
@media screen and (min-width: 800px) {
  /* line 142, ../../scss/style.scss */
  savethedate {
    left: auto;
    right: 0;
    bottom: auto;
    top: 30px;
  }
}
/* line 165, ../../scss/style.scss */
savethedate bird {
  display: block;
  margin-bottom: -7px;
  padding-left: 60px;
}
/* line 170, ../../scss/style.scss */
savethedate bird object {
  width: 50px;
  height: 59px;
}
/* line 176, ../../scss/style.scss */
savethedate h2 {
  font-family: 'Diplomata', cursive;
  text-align: center;
  display: inline-block;
  background-color: white;
  padding: 10px;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  font-size: 24px;
}
/* line 186, ../../scss/style.scss */
savethedate h2 text {
  display: block;
}
/* line 190, ../../scss/style.scss */
savethedate h2 text[save] {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}
/* line 195, ../../scss/style.scss */
savethedate h2 text[the] {
  font-size: 50%;
  font-family: sans-serif;
  margin-top: -7px;
}
/* line 200, ../../scss/style.scss */
savethedate h2 text[the] span {
  background-color: #ffffff;
  padding: 0 5px;
}
/* line 205, ../../scss/style.scss */
savethedate h2 text[date] {
  text-transform: uppercase;
}

/* line 211, ../../scss/style.scss */
header {
  display: block;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  padding-right: 10px;
  max-width: 680px;
  text-shadow: 1px 1px 0 black;
}
@media screen and (min-width: 320px) {
  /* line 211, ../../scss/style.scss */
  header {
    font-size: 16vw;
  }
}
@media screen and (min-width: 496px) {
  /* line 211, ../../scss/style.scss */
  header {
    font-size: 79px;
  }
}
@media screen and (min-width: 800px) {
  /* line 211, ../../scss/style.scss */
  header {
    margin-top: -290px;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    text-align: right;
  }
}
/* line 237, ../../scss/style.scss */
header > * {
  font-style: italic;
  display: block;
}
/* line 242, ../../scss/style.scss */
header time {
  display: block;
  margin-left: 40px;
}
/* line 247, ../../scss/style.scss */
header location {
  display: block;
}
/* line 250, ../../scss/style.scss */
header location text {
  display: block;
  white-space: nowrap;
}

/* line 257, ../../scss/style.scss */
plane {
  width: 100%;
  display: block;
  margin-top: 60px;
  -webkit-order: 1 1 auto;
  order: 1 1 auto;
  text-align: center;
}
@media screen and (min-width: 800px) {
  /* line 257, ../../scss/style.scss */
  plane {
    text-align: right;
    padding-right: 120px;
  }
}
/* line 270, ../../scss/style.scss */
plane object {
  width: 100%;
  max-width: 390px;
  cursor: pointer;
  -moz-animation: plane-wind 20s ease-in-out;
  -webkit-animation: plane-wind 20s ease-in-out;
  animation: plane-wind 20s ease-in-out;
}

/* line 279, ../../scss/style.scss */
clouds {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 288, ../../scss/style.scss */
clouds cloud {
  position: absolute;
  left: -326px;
}
/* line 292, ../../scss/style.scss */
clouds cloud object {
  width: 100%;
  min-width: 326px;
}
/* line 297, ../../scss/style.scss */
clouds cloud:nth-child(1) {
  opacity: 0.5;
  top: 10%;
  -moz-animation: cloud 20s ease-in-out infinite;
  -webkit-animation: cloud 20s ease-in-out infinite;
  animation: cloud 20s ease-in-out infinite;
}
/* line 303, ../../scss/style.scss */
clouds cloud:nth-child(5) {
  opacity: 0.3;
  top: 12%;
  -moz-animation: cloud 20s ease-in-out infinite;
  -webkit-animation: cloud 20s ease-in-out infinite;
  animation: cloud 20s ease-in-out infinite;
  -moz-animation-delay: 10s;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -moz-transform: scale(1, 0.8);
  -ms-transform: scale(1, 0.8);
  -webkit-transform: scale(1, 0.8);
  transform: scale(1, 0.8);
}
/* line 311, ../../scss/style.scss */
clouds cloud:nth-child(2) {
  opacity: 0.5;
  top: 45%;
  -moz-animation: cloud 30s ease-in-out infinite;
  -webkit-animation: cloud 30s ease-in-out infinite;
  animation: cloud 30s ease-in-out infinite;
  -moz-transform: scale(0.7, 0.8);
  -ms-transform: scale(0.7, 0.8);
  -webkit-transform: scale(0.7, 0.8);
  transform: scale(0.7, 0.8);
}
/* line 318, ../../scss/style.scss */
clouds cloud:nth-child(6) {
  opacity: 0.5;
  top: 45%;
  -moz-animation: cloud 20s ease-in-out infinite;
  -webkit-animation: cloud 20s ease-in-out infinite;
  animation: cloud 20s ease-in-out infinite;
  -moz-animation-delay: 12s;
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  -moz-transform: scale(0.8, 1);
  -ms-transform: scale(0.8, 1);
  -webkit-transform: scale(0.8, 1);
  transform: scale(0.8, 1);
}
/* line 326, ../../scss/style.scss */
clouds cloud:nth-child(3) {
  opacity: 0.5;
  bottom: 10%;
  -moz-animation: cloud 25s ease-in-out infinite;
  -webkit-animation: cloud 25s ease-in-out infinite;
  animation: cloud 25s ease-in-out infinite;
  -moz-transform: scale(0.9, 0.7);
  -ms-transform: scale(0.9, 0.7);
  -webkit-transform: scale(0.9, 0.7);
  transform: scale(0.9, 0.7);
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 334, ../../scss/style.scss */
clouds cloud:nth-child(4) {
  opacity: 0.3;
  bottom: 5%;
  -moz-animation: cloud 25s ease-in-out infinite;
  -webkit-animation: cloud 25s ease-in-out infinite;
  animation: cloud 25s ease-in-out infinite;
  -moz-animation-delay: 6s;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

@-moz-keyframes cloud {
  0% {
    left: -100%;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  20%, 40%, 60%, 80% {
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    left: 200%;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cloud {
  0% {
    left: -100%;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    left: 200%;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes cloud {
  0% {
    left: -100%;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  20%, 40%, 60%, 80% {
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    left: 200%;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes plane-wind {
  0%, 100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  75% {
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@-webkit-keyframes plane-wind {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@keyframes plane-wind {
  0%, 100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  75% {
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@-moz-keyframes krisandmalin-wind {
  0%, 100% {
    -moz-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
  }
  25% {
    -moz-transform: translate(10px, -10px) scale(0.9, 0.9);
    transform: translate(10px, -10px) scale(0.9, 0.9);
  }
  75% {
    -moz-transform: translate(-10px, 10px) scale(0.9, 0.9);
    transform: translate(-10px, 10px) scale(0.9, 0.9);
  }
}
@-webkit-keyframes krisandmalin-wind {
  0%, 100% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
  }
  25% {
    -webkit-transform: translate(10px, -10px) scale(0.9, 0.9);
    transform: translate(10px, -10px) scale(0.9, 0.9);
  }
  75% {
    -webkit-transform: translate(-10px, 10px) scale(0.9, 0.9);
    transform: translate(-10px, 10px) scale(0.9, 0.9);
  }
}
@keyframes krisandmalin-wind {
  0%, 100% {
    -moz-transform: translate(0, 0) scale(1, 1);
    -ms-transform: translate(0, 0) scale(1, 1);
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
  }
  25% {
    -moz-transform: translate(10px, -10px) scale(0.9, 0.9);
    -ms-transform: translate(10px, -10px) scale(0.9, 0.9);
    -webkit-transform: translate(10px, -10px) scale(0.9, 0.9);
    transform: translate(10px, -10px) scale(0.9, 0.9);
  }
  75% {
    -moz-transform: translate(-10px, 10px) scale(0.9, 0.9);
    -ms-transform: translate(-10px, 10px) scale(0.9, 0.9);
    -webkit-transform: translate(-10px, 10px) scale(0.9, 0.9);
    transform: translate(-10px, 10px) scale(0.9, 0.9);
  }
}
@-moz-keyframes savethedate-wind {
  0%, 75%, 100% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -moz-transform: translate(-5px, 20px);
    transform: translate(-5px, 20px);
  }
}
@-webkit-keyframes savethedate-wind {
  0%, 75%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-5px, 20px);
    transform: translate(-5px, 20px);
  }
}
@keyframes savethedate-wind {
  0%, 75%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -moz-transform: translate(-5px, 20px);
    -ms-transform: translate(-5px, 20px);
    -webkit-transform: translate(-5px, 20px);
    transform: translate(-5px, 20px);
  }
}

/*# sourceMappingURL=style.css.map */
